body {
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

#main {
  width: 90%;
  margin: 5% auto 4% auto;
}

.mockup-image {
  width: 100%;
  padding-right: 30px;
}

.logo-image {
  padding: 6% 10%;
}

.my-button {
  font-family: 'Poppins', sans-serif;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  border-radius: 100px;
  padding: 2% 10%;
  margin-top: 50px;
  box-shadow: 2px 2px 2px #000;
  font-size: 1.6rem;
}

.icon {
  display: flex;
  margin: auto;
  color: #fff;
}

.contact {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
  margin: 0 0.5%;
}

#contacts {
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  body {
    background-image: url(images/bg-desktop.svg);
  }

  #contacts {
    text-align: right;
    margin-right: 30px;
  }
}

@media (max-width: 959px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }

  #contacts {
    text-align: center;
  }

  .my-button {
    display: flex;
    margin: 50px auto 50px auto;
  }

}
